@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
}

/* Extra small devices (phones) */
@media (max-width: 575.98px) {
 .bg-about{
    display: none;
  }
  .banner-text h1{
    font-size: 45px;
  }
   .banner {
    width: 100%;
  }
  .cta{
    width: 100%;
  }
   .bg-2{
    width: 100%;
  }
   .top-bar{
    display: none;
  }
}

/* Small devices (phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
 .bg-about{
    display: none;
  }
  .banner-text h1{
    font-size: 45px;
  }
  .cta{
    width: 100%;
  }
  .banner {
    width: 100%;
  }
  .bg-2{
    width: 100%;
  }
   .top-bar{
    display: none;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .top-bar{
    display: none;
  }
  
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 1024px) and (max-width:1366px) {
  /* CSS for laptops/desktops */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* CSS for large screens */
}
